code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.sbdocs-preview {
  background-color: var(--color-white) !important;
  color: var(--color-grey-font-900);
}
